body{
    background-color: aquamarine;
    
}
p{
    background-color: azure;
    width: 200px;
    height: 200px;
    font-size: 2em;
}
.container{
    background-color: green;
    justify-content: space-around;
    display: flex;
    
}